<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <bean id="freeMarkerConfigurer" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/WEB-INF/ftl"></property>
        <property name="defaultEncoding" value="utf-8"></property>
    </bean>

    <bean class="org.apache.activemq.RedeliveryPolicy" id="redeliveryPolicy">
        <!--默认为6次-->
        <property name="maximumRedeliveries" value="7"></property>
    </bean>


    <bean id="activeMQConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://192.168.1.203:61616"></property>
        <property name="redeliveryPolicy" ref="redeliveryPolicy"></property>
    </bean>

    <bean id="singleConnectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
        <property name="targetConnectionFactory" ref="activeMQConnectionFactory"></property>
    </bean>

    <bean id="itemAddTopic" class="org.apache.activemq.command.ActiveMQTopic">
        <property name="physicalName" value="itemAdd"></property>
    </bean>

    <bean id="itemAddListener" class="com.taotao.listener.ItemAddListener"></bean>

    <bean id="defaultMessageListenerContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="singleConnectionFactory"></property>
        <property name="destination" ref="itemAddTopic"></property>
        <property name="messageListener" ref="itemAddListener"></property>
        <property name="sessionTransacted" value="true"></property>
    </bean>

</beans>