<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="activeMQConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://192.168.0.203:61616"></property>
    </bean>

    <bean id="connectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
        <constructor-arg name="targetConnectionFactory" ref="activeMQConnectionFactory"></constructor-arg>
    </bean>

    <bean id="itemAddTopic" class="org.apache.activemq.command.ActiveMQTopic">
        <property name="physicalName" value="itemAdd"></property>
    </bean>

    <bean id="itemAddListener" class="com.taotao.serach.activemq.ItemAddListener">
    </bean>

    <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="connectionFactory"></property>
        <property name="destination" ref="itemAddTopic"></property>
        <property name="messageListener" ref="itemAddListener"></property>
    </bean>

</beans>